/* Styling for pandas dataframes in documentation */

div.output table {
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    color: black;
    font-size: 12px;
    table-layout: fixed;
    width: 100%;
}
div.output thead {
    border-bottom: 1px solid black;
    vertical-align: bottom;
}
div.output tr,
div.output th,
div.output td {
    text-align: right;
    vertical-align: middle;
    padding: 0.5em 0.5em;
    line-height: normal;
    white-space: normal;
    max-width: none;
    border: none;
}
div.output th {
    font-weight: bold;
}
div.output tbody tr:nth-child(odd) {
    background: #f5f5f5;
}
div.output tbody tr:hover {
    background: rgba(66, 165, 245, 0.2);
}