.wy-nav-content {
    max-width: 90% !important;
}

.wy-side-scroll {
    background: #8c8c8c;
}

.pre {
    color: #BE8184;
}

.sd-card-img-top,
.sd-card img {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 100%;
}

.sd-card-header .sd-card-text {
    font-weight: bold;
}